@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  --clr-primary: hsl(75, 94%, 57%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(0, 0%, 20%);
  --clr-neutral-600: hsl(0, 0%, 12%);
  --clr-neutral-800: hsl(0, 0%, 8%);

  --ff-primary: "Inter", sans-serif;
  --fs-small: 0.875rem;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

/**************/
/* CSS RESET */
/************/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*******************/
/* GENERAL STYLES */
/*****************/

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-neutral-800);
  background-repeat: no-repeat;

  font-family: var(--ff-primary);
}

.card {
  background-color: var(--clr-neutral-600);
  min-width: 327px;

  padding: 1.5rem;

  border-radius: 0.625rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  > header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    justify-content: center;
    align-items: center;

    > picture .author-img {
      max-width: 6rem;
      border-radius: 100%;
    }

    > .author-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      > h1 {
        font-size: 1.5rem;
        color: var(--clr-neutral-100);
        font-weight: var(--fw-semi-bold);
      }

      > span {
        font-size: var(--fs-small);
        color: var(--clr-primary);
        font-weight: var(--fw-bold);
      }
    }

    > p {
      font-size: var(--fs-small);
      color: var(--clr-neutral-100);
    }
  }
  > .socials-section {
    > ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      padding: 0;
      list-style: none;

      li {
        min-width: 100%;
        text-align: center;

        background-color: var(--clr-neutral-500);
        padding: 0.75rem 0;
        border-radius: 0.5rem;
      }

      li:hover {
        background-color: var(--clr-primary);
        cursor: pointer;
        a {
          color: var(--clr-neutral-800);
        }
      }

      a {
        text-decoration: none;
        color: var(--clr-neutral-100);
        font-weight: var(--fw-semi-bold);
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--clr-neutral-100);
}
.attribution a {
  color: var(--clr-primary);
  text-decoration: none;
}
